  <launch>
    <arg name="map_size_x" value="10.0"/>
    <arg name="map_size_y" value="102.0"/>
    <arg name="map_size_z" value=" 15.0"/>
    <arg name="point_num" value="1"/>
    <include file="$(find ego_planner)/launch/run_in_sim_rflysim.launch">
        <arg name="drone_id" value="0"/>
        <arg name="init_x" value="-2"/>
        <arg name="init_y" value="0"/>
        <arg name="init_z" value="0"/>
        <arg name="target0_x" value="-2"/>
        <arg name="target0_y" value="50"/>
        <arg name="target0_z" value="5"/>
        <arg name="point_num" value="$(arg point_num)"/>
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="virtual_ceil_height"   value="8"/>
        <arg name="visualization_truncate_height"   value="7"/>
        <arg name="depth_topic" value="/rflysim/sensor0/img_depth"/>
    </include>
    <include file="$(find ego_planner)/launch/run_in_sim_rflysim.launch">
        <arg name="drone_id" value="1"/>
        <arg name="init_x" value="0"/>
        <arg name="init_y" value="0"/>
        <arg name="init_z" value="0"/>
        <arg name="target0_x" value="0"/>
        <arg name="target0_y" value="50"/>
        <arg name="target0_z" value="5"/>
        <arg name="point_num" value="$(arg point_num)"/>
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="virtual_ceil_height"   value="8"/>
        <arg name="visualization_truncate_height"   value="7"/>
        <arg name="depth_topic" value="/rflysim/sensor1/img_depth"/>
    </include>
    <include file="$(find ego_planner)/launch/run_in_sim_rflysim.launch">
        <arg name="drone_id" value="2"/>
        <arg name="init_x" value="2"/>
        <arg name="init_y" value="0"/>
        <arg name="init_z" value="0"/>
        <arg name="target0_x" value="2"/>
        <arg name="target0_y" value="50"/>
        <arg name="target0_z" value="5"/>
        <arg name="point_num" value="$(arg point_num)"/>
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="virtual_ceil_height"   value="8"/>
        <arg name="visualization_truncate_height"   value="7"/>
        <arg name="depth_topic" value="/rflysim/sensor2/img_depth"/>
    </include>
  </launch>