  <launch>
    <arg name="map_size_x" value="210.0"/>
    <arg name="map_size_y" value="210.0"/>
    <arg name="map_size_z" value="2.0"/>
    <arg name="point_num" value="5"/>

    <include file="$(find ego_planner)/launch/run_in_sim_rflysim.launch">
        <arg name="drone_id" value="0"/>
        <arg name="init_x" value="0"/>
        <arg name="init_y" value="0"/>
        <arg name="init_z" value="0"/>
        <arg name="target0_x" value="0"/>
        <arg name="target0_y" value="2.4"/>
        <arg name="target0_z" value="1"/>
        <arg name="target1_x" value="3.3"/>
        <arg name="target1_y" value="14.0"/>
        <arg name="target1_z" value="1"/>
        <arg name="target2_x" value="-3.0"/>
        <arg name="target2_y" value="17.2"/>
        <arg name="target2_z" value="1"/>
        <arg name="target3_x" value="-1.5"/>
        <arg name="target3_y" value="22"/>
        <arg name="target3_z" value="1"/>
        <arg name="target4_x" value="-12.0"/>
        <arg name="target4_y" value="23.0"/>
        <arg name="target4_z" value="1"/>

        <arg name="virtual_ceil_height"   value="2.9"/>
        <arg name="visualization_truncate_height"   value="1.8"/>
<!-- 
        <arg name="target0_x" value="3.3"/>
        <arg name="target0_y" value="14.0"/>
        <arg name="target0_z" value="1"/>
        
        <arg name="target1_x" value="-3.0"/>
        <arg name="target1_y" value="17"/>
        <arg name="target1_z" value="1"/>

        <arg name="target2_x" value="-12.0"/>
        <arg name="target2_y" value="23.0"/>
        <arg name="target2_z" value="1"/> -->
  
        <arg name="point_num" value="$(arg point_num)"/>

        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>

        <arg name="depth_topic" value="/rflysim/sensor0/img_depth"/>
    </include>


  </launch>